[Desktop Entry]
Type=Application
Name=$$LOWER_CASE_NAME
Comment=$$DESCRIPTION
GenericName=$$LOWER_CASE_NAME2
Exec=$$LOWER_CASE_NAME %U
Icon=$$LOWER_CASE_NAME
Terminal=false
Categories=$$CATEGORIES

