Source: scratch-text-editor
Section: editors
Priority: optional
Maintainer: Mario Guerriero <mefrio.g@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 7.0.50~),
               exuberant-ctags,
               gir1.2-soup-2.4,
               libdevhelp-dev,
               libgail-3-dev,
               libgee-0.8-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.10),
               libgtksourceview-3.0-dev,
               libgtkspell-3-dev | libgtkspell3-3-dev,
               libpeas-dev,
               libsoup2.4-dev,
               libvala-0.24-dev,
               libvte-2.90-dev,
               libwebkitgtk-3.0-dev,
               libzeitgeist-2.0-dev,
               python-chardet,
               valac-0.24
Standards-Version: 3.9.1
Homepage: http://launchpad.net/scratch

Package: scratch-text-editor
Architecture: any
Depends: ${gir:Depends}, ${misc:Depends}, ${shlibs:Depends}, exuberant-ctags
Description: text editor written in Vala
 Scratch is the text editor that works for you. It auto-saves your files,
 meaning they're always up-to-date. Plus it remembers your tabs so you never
 lose your spot, even in between sessions.
 .
 Make it yours. Scratch is written from the ground up to be extensible. Keep
 things super lightweight and simple, or install extensions to turn Scratch
 into a full-blown IDE; it's your choice. And with a handful of useful
 preferences, you can tweak the behavior and interface to your liking.
 .
 It's elementary. Scratch is made to be the perfect text editor for elementary,
 meaning it closely follows the high standards of design, speed, and
 consistency. It's sexy, but not distracting.
 .
 Works with your language. Whether you're crafting code in Vala, scripting with
 PHP, or marking things up in HTML, Scratch has you covered. Experience full
 syntax highlighting with nearly all programming, scripting, and markup
 languages.
 .
 Other syntax-highlighted languages: Bash, C, C#, C++. Cmake, CSS, .Desktop,
 Diff, Fortran, Gettext, ini, Java, JavaScript, LaTex, Lua, Makefile,
 Objective C, Pascal, Perl, Python, Ruby, XML.

Package: scratch-text-editor-dbg
Architecture: any
Section: debug
Priority: extra
Depends: scratch-text-editor (= ${binary:Version}), ${misc:Depends}
Description: text editor written in Vala
 Scratch is the text editor that works for you. It auto-saves your files,
 meaning they're always up-to-date. Plus it remembers your tabs so you never
 lose your spot, even in between sessions.
 .
 Make it yours. Scratch is written from the ground up to be extensible. Keep
 things super lightweight and simple, or install extensions to turn Scratch
 into a full-blown IDE; it's your choice. And with a handful of useful
 preferences, you can tweak the behavior and interface to your liking.
 .
 It's elementary. Scratch is made to be the perfect text editor for elementary,
 meaning it closely follows the high standards of design, speed, and
 consistency. It's sexy, but not distracting.
 .
 Works with your language. Whether you're crafting code in Vala, scripting with
 PHP, or marking things up in HTML, Scratch has you covered. Experience full
 syntax highlighting with nearly all programming, scripting, and markup
 languages.
 .
 Other syntax-highlighted languages: Bash, C, C#, C++. Cmake, CSS, .Desktop,
 Diff, Fortran, Gettext, ini, Java, JavaScript, LaTex, Lua, Makefile,
 Objective C, Pascal, Perl, Python, Ruby, XML.
 .
 This package contains debugging symbols for scratch-text-editor.
