Source: io.elementary.code
Section: editors
Maintainer: Corentin Noël <corentin@elementary.io>
Build-Depends: appstream,
               debhelper (>= 9),
               desktop-file-utils,
               exuberant-ctags,
               libeditorconfig-dev,
               libgail-3-dev,
               libgee-0.8-dev,
               libgit2-glib-1.0-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.10),
               libgtksourceview-4-dev,
               libgtkspell-3-dev | libgtkspell3-3-dev,
               libhandy-1-dev,
               libpeas-dev,
               libsoup2.4-dev,
               libvala-dev,
               libvte-2.91-dev,
               libxml2-utils,
               meson (>= 0.44.0),
# Required to generate translation of .policy files in focal+
               policykit-1,
# Required to generate translation of .policy files in jammy+
               polkitd,
# Required to generate translation of .policy files in mantic+
               libpolkit-gobject-1-dev,
               valac
Standards-Version: 3.9.5
Homepage: https://github.com/elementary/code

Package: io.elementary.code
Architecture: any
Priority: optional
Conflicts: scratch-text-editor
Replaces: scratch-text-editor
Depends: exuberant-ctags,
         libcodecore0 (= ${binary:Version}),
         ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: text editor that works for you
 Code is the text editor that works for you. It auto-saves your files,
 meaning they're always up-to-date. Plus it remembers your tabs so you never
 lose your spot, even in between sessions.
 .
 Make it yours. Code is written from the ground up to be extensible. Keep
 things super lightweight and simple, or install extensions to turn Code
 into a full-blown IDE; it's your choice. And with a handful of useful
 preferences, you can tweak the behavior and interface to your liking.
 .
 It's elementary. Code is made to be the perfect text editor for elementary,
 meaning it closely follows the high standards of design, speed, and
 consistency. It's sexy, but not distracting.
 .
 Works with your language. Whether you're crafting code in Vala, scripting with
 PHP, or marking things up in HTML, Code has you covered. Experience full
 syntax highlighting with nearly all programming, scripting, and markup
 languages.

Package: libcodecore0
Architecture: any
Priority: optional
Section: libs
Depends: ${gir:Depends}, ${misc:Depends}, ${shlibs:Depends}
Description: text editor that works for you (shared library)
 Code is the text editor that works for you. It auto-saves your files,
 meaning they're always up-to-date. Plus it remembers your tabs so you never
 lose your spot, even in between sessions.
 .
 Make it yours. Code is written from the ground up to be extensible. Keep
 things super lightweight and simple, or install extensions to turn Code
 into a full-blown IDE; it's your choice. And with a handful of useful
 preferences, you can tweak the behavior and interface to your liking.
 .
 It's elementary. Code is made to be the perfect text editor for elementary,
 meaning it closely follows the high standards of design, speed, and
 consistency. It's sexy, but not distracting.
 .
 Works with your language. Whether you're crafting code in Vala, scripting with
 PHP, or marking things up in HTML, Code has you covered. Experience full
 syntax highlighting with nearly all programming, scripting, and markup
 languages.
 .
 This package contains the shared library used by Code plugins.

Package: libcodecore-dev
Architecture: any
Priority: optional
Section: libdevel
Depends: libcodecore0 (= ${binary:Version}),
         ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: text editor that works for you (plugin development files)
 Code is the text editor that works for you. It auto-saves your files,
 meaning they're always up-to-date. Plus it remembers your tabs so you never
 lose your spot, even in between sessions.
 .
 Make it yours. Code is written from the ground up to be extensible. Keep
 things super lightweight and simple, or install extensions to turn Code
 into a full-blown IDE; it's your choice. And with a handful of useful
 preferences, you can tweak the behavior and interface to your liking.
 .
 It's elementary. Code is made to be the perfect text editor for elementary,
 meaning it closely follows the high standards of design, speed, and
 consistency. It's sexy, but not distracting.
 .
 Works with your language. Whether you're crafting code in Vala, scripting with
 PHP, or marking things up in HTML, Code has you covered. Experience full
 syntax highlighting with nearly all programming, scripting, and markup
 languages.
 .
 This package contains the development headers for writing Code plugins.
