Source: scratch
Section: editors
Priority: optional
Maintainer: Mario Guerriero <mefrio.g@gmail.com>
Build-Depends: cmake,
               debhelper (>= 7),
               gir1.2-gconf-2.0,
               gir1.2-soup-2.4,
               libgail-3-dev,
               libgconf2-dev,
               libgee-dev,
               libgranite-dev,
               libgtk-3-dev,
               libgtksourceview-3.0-dev,
               libpeas-dev,
               libsoup2.4-dev,
               libvte-2.90-dev,
               libzeitgeist-dev
               pkg-config,
               valac-0.16 (>= 0.15.1)
Standards-Version: 3.9.1
Homepage: http://launchpad.net/scratch
Vcs-Bzr: https://code.launchpad.net/~scratch-hackers/scratch/scratch

Package: scratch
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Scratch Elementary Text Editor
 A lightweight text editor written in GTK3 for the elementary desktop utilizing the powerful Granite framework.

Package: scratch-dbg
Architecture: any
Section: debug
Priority: extra
Depends: scratch (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: scratch
Description: Scratch Elementary Text Editor (debugging symbols)
 A lightweight text editor written in GTK3 for the elementary desktop utilizing the powerful Granite framework.
 .
 This package contains debugging symbols for scratch.
