#!/usr/bin/make -f

# Disable unit testing
export DEB_BUILD_OPTIONS=nocheck

# Enable additional explot mitigation
# (PIE and *full* RELRO at the time of this writing)
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=scratch-text-editor-dbg
