#!/usr/bin/make -f

# Disable unit testing
export DEB_BUILD_OPTIONS=nocheck

%:
	dh $@

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=scratch-text-editor-dbg
