Package: scratch
Version: 0.0.1
Architecture: i386
Maintainer: Mario Guerriero <mefrio.g@gmail.com>
Installed-Size: 48
Section: utility
Priority: extra
Homepage: http://launchpad.net/scratch
Description: Elementary text editor
 This could kill your hamster!
