[Desktop Entry]
Type=Application
Version=1.1
Name=Scratch
Comment=Edit text files
GenericName=Text Editor
Exec=scratch %U
Icon=accessories-text-editor
Terminal=false
Categories=GNOME;GTK;Utility;TextEditor;
MimeType=text/plain;
StartupNotify=true
MimeType=text/plain;

X-Ayatana-Desktop-Shortcuts=NewWindow;NewDocument

X-GNOME-Gettext-Domain=scratch

[NewDocument Shortcut Group]
Name=New Document
Exec=scratch --new-tab
TargetEnvironment=Unity

[NewWindow Shortcut Group]
Name=New Window
Exec=scratch -n
TargetEnvironment=Unity

