[Desktop Entry]
Type=Application
Version=1.1
Name=Scratch
Comment=Edit text files
Comment[it]=Modifica i file di testo
GenericName=Text Editor
GenericName[it]=Editor di testo
Exec=scratch %U
Icon=scratch
Terminal=false
Categories=GNOME;GTK;Utility;TextEditor;
MimeType=text/plain;
StartupNotify=true
MimeType=text/plain;

X-Ayatana-Desktop-Shortcuts=NewWindow;NewDocument

[NewDocument Shortcut Group]
Name=Create a new document
Name[it]=Crea un nuovo documento
Exec=scratch --new-tab
TargetEnvironment=Unity

[NewWindow Shortcut Group]
Name=Create a new window
Name[it]=Crea una nuova finestra
Exec=scratch -n
TargetEnvironment=Unity

