[Desktop Entry]
Type=Application
Version=0.0.1
Name=Scratch
Comment=Edit Text Files
GenericName=Text Editor
Exec=scratch
Icon=text-editor
Terminal=false
Categories=GNOME;GTK;Utility;TextEditor;
MimeType=text/plain;
StartupNotify=true
